<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pay.dao.StatmentTempDao" >
  <resultMap id="BaseResultMap" type="com.pay.pojo.StatmentTemp" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="batchId" property="batchid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="card" property="card" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="REAL" />
    <result column="bank" property="bank" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, batchId, name, card, money, bank
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pay_statement_temp
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pay_statement_temp
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pay.pojo.StatmentTemp" >
    insert into pay_statement_temp (id, user_id, batchId, 
      name, card, money, bank
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{batchid,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{card,jdbcType=VARCHAR}, #{money,jdbcType=REAL}, #{bank,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="addSelective" parameterType="com.pay.pojo.StatmentTemp" >
    insert into pay_statement_temp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="batchid != null" >
        batchId,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="card != null" >
        card,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="bank != null" >
        bank,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="batchid != null" >
        #{batchid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="card != null" >
        #{card,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=REAL},
      </if>
      <if test="bank != null" >
        #{bank,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pay.pojo.StatmentTemp" >
    update pay_statement_temp
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="batchid != null" >
        batchId = #{batchid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="card != null" >
        card = #{card,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=REAL},
      </if>
      <if test="bank != null" >
        bank = #{bank,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pay.pojo.StatmentTemp" >
    update pay_statement_temp
    set user_id = #{userId,jdbcType=INTEGER},
      batchId = #{batchid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      card = #{card,jdbcType=VARCHAR},
      money = #{money,jdbcType=REAL},
      bank = #{bank,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>